.header{
    width: 100%;
    height: 100%;
    background-color: #45aaf1;
    margin: 0;
    padding: 0;
}

.sidea{
    width: 50%;
    height: 500px;
    float: left;
    background-color: white;
    margin: 0 0 0 14%;
    margin-top: 8%;
    border-radius: 20px 0 0 20px;
    
    
}
.sidea img{
    width: 80%;
    height: 70%;
    margin: 0px 0px 0px 25px;
}
.title{
    margin: 0;
    padding: 0;
}
.title h1{
    font-size: 40px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #000;
}
.title .para{
    padding-left: 30px;
    padding-bottom: 25px;
    color: #000;
    margin: 1px;
}


.sideb{
    width: 25%;
    height: 500px;
    float: left;
    background-color: #f14552;
    margin-top: 8%;
    border-radius: 0 20px 20px 0;
    

}


.title2{
    margin: 0;
    padding: 0;
}
.title2 h1{
    font-size: 40px;
    padding-left: 35px;
    margin-top: 30px;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #fff;
}
.title2 .para{
    padding-left: 20px;
    padding-bottom: 25px;
    color: #fff;
    margin: 20px;
}





.footer{
    clear: both;
    width: 100%;
    height: 250px;
    background-color: aquamarine;
    left: 0;
}

.form{
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
}

.form input{
    width: 80%;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;   
    
}
.link a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
    margin-left: 10%;
    
}


.form p{
    margin-left: 15%;
}

.form input:focus{
    outline: none;

}
::placeholder{
    color: #fff;
}

.btnn{
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    
    margin-left: 17%;
    margin-top: 20px;
    padding: 10px;
    border: none;
}